@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>My name is Jon Hueing. Many still know me as Jon Hogue.  I am a senior application developer and consultant.  I write web applications in C# and JavaScript, but I love playing with technology.</p>
