@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    <strong>Email:</strong> <a href="mailto:jhueing@gmail.com">jhueing@gmail.com</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/JonHueing">@@JonHueing</a>
</address>
