@{
    ViewData["Title"] = "Home Page";
    ViewData["HideNav"] = true;
}
<br />
<div class="row">
    <div class="col-lg-offset-2 col-lg-4 col-xs-12">
        <span class="portfolio-header"></span>
    </div>
    <div class="col-lg-6 col-xs-12 header-text">
        <h1>Jon Hueing</h1>
        <h2>Senior Developer &amp; Consultant</h2>
        <br />
        <a asp-controller="home" asp-action="about">About Me</a> -
        <a asp-controller="home" asp-action="contact">Contact</a>
        <br /><br />
        <span>Coming Soon: Blog, additional content, updated github projects.</span>
    </div>
</div>
